runner:
  image: 'gitlab/gitlab-runner:latest'
  restart: always
  hostname: 'gitlab-runner'
  volumes:
    - '/srv/gitlab-runner/config:/etc/gitlab-runner'
    - '/var/run/docker.sock:/var/run/docker.sock'
  command: >
    register --non-interactive
             --executor "docker"
             --docker-image "alpine:latest"
             --url "http://{{ gitlab_ci_host }}"
             --registration-token "{{ runner_token }}"
             --description "docker-runner"
             --tag-list "docker,linux,alpine"
             --run-untagged
             --locked="false"
