version: '3.7'
services:
  web:
    build: './test_env'
    image: '{{ deploy_user }}/test_env'
    restart: always
    hostname: 'test_env'
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
    ports:
      - '{{ ssh_port_host }}:22'
      - '8080:80'
