version: '3.7'
services:
  gitlab_ci:
    image: 'gitlab/gitlab-ce:latest'
    restart: always
    hostname: 'gitlab.example.com'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://{{ gitlab_ci_public_ip }}'
        gitlab_rails['initial_root_password'] = "{{ gitlab_root_password }}"
        gitlab_rails['initial_shared_runners_registration_token'] = "{{ runner_token }}"
    ports:
      - '80:80'
      - '443:443'
      - '2222:22'
    volumes:
      - '/srv/gitlab/config:/etc/gitlab'
      - '/srv/gitlab/logs:/var/log/gitlab'
      - '/srv/gitlab/data:/var/opt/gitlab'
